@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
  --violeta-oscuro: #4E458C;
  --violeta-claro: #A9A7D9;
  --azul-oscuro-background: rgb(2, 18, 38);
  --verde: #02733E;
  --amarillo: rgb(198, 217, 59);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--azul-oscuro-background);
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

#cont-play{
  text-align: center;
  min-height: 75vh;
  display: grid;
  place-content: center;
  gap: 200px;
}

h1{
  font-size: 45px;
  color: var(--violeta-claro);
  position: relative;
}

.titulo{
  position: relative;
}

img{
  position: absolute;
  right: 48px;
  top: -10px;
  z-index: -1;
}


#play{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  width: 225px;
  height: 75px;
  color: var(--azul-oscuro-background);
  font-weight: 500;
  background: var(--amarillo);
  box-shadow: 0 0 10px var(--amarillo), 0 0 10px var(--amarillo), 0 0 40px var(--amarillo);
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s, box-shadow 0.5s;
}

#play:hover{
  box-shadow: 0 0 10px var(--amarillo), 0 0 12px var(--amarillo), 0 0 60px var(--amarillo);
}

#play:focus{
  background: var(--verde);
  box-shadow: 0 0 10px var(--verde), 0 0 15px var(--verde), 0 0 80px var(--verde);
  color: white;
}


#trivia{
  min-height: 75vh;
  display: none;
  place-content: center;
  gap: 50px;
  max-width: 750px;
  margin-top: 50px;
}

button:last-child, button:first-child, button:nth-child(3){
  background: var(--verde);
}

button{
  position: relative;
  margin: 5px 25%;
  width: 400px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  color: var(--azul-oscuro-background);
  font-weight: 500;
  background: var(--violeta-oscuro);
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s, color 0.1s;
}

.options > button:hover{
  color: white;
  transform: scale(1.10);
}

.video{
  position: relative;
  margin: 0 auto;
}

#player{
  border: 2px solid var(--violeta-oscuro);
  border-radius: 10px;
  filter: blur(50px);
}

