@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root{
  --violeta-oscuro: #4E458C;
  --violeta-oscuro-borde: #3b346c;
  --violeta-claro: #A9A7D9;
  --azul-oscuro-background: rgb(2, 18, 38);
  --verde: #02733E;
  --verde-borde: #014927;
  --amarillo: rgb(198, 217, 59);
  --rojo: rgb(255, 0, 0);
  --rojo-borde: rgb(99, 0, 0);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(./img/background.jpg);
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

body::before{
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--azul-oscuro-background);
  opacity: 95%;
  z-index: -1;
}

#cont-play{
  text-align: center;
  min-height: 75vh;
  display: grid;
  place-content: center;
  gap: 200px;
}

h1{
  font-size: 45px;
  color: var(--violeta-claro);
  position: relative;
  z-index: 2;
}

.titulo{
  position: relative;
}

img{
  position: absolute;
  right: 48px;
  top: -10px;
  z-index: 1;
}


#play{
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  width: 225px;
  height: 75px;
  color: var(--azul-oscuro-background);
  font-weight: 500;
  background: var(--amarillo);
  box-shadow: 0 0 10px var(--amarillo), 0 0 10px var(--amarillo), 0 0 40px var(--amarillo);
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s, box-shadow 0.5s;
}

#play:hover{
  box-shadow: 0 0 10px var(--amarillo), 0 0 12px var(--amarillo), 0 0 60px var(--amarillo);
}

#play:focus{
  background: var(--verde);
  box-shadow: 0 0 10px var(--verde), 0 0 15px var(--verde), 0 0 80px var(--verde);
  color: white;
}


#trivia{
  min-height: 75vh;
  display: none;
  place-content: center;
  gap: 50px;
  max-width: 750px;
  margin-top: 50px;
}

button{
  position: relative;
  margin: 5px 25%;
  width: 375px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  color: var(--azul-oscuro-background);
  font-weight: 500;
  background: var(--violeta-oscuro);
  border: 5px solid var(--violeta-oscuro-borde);
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.2s, color 0.1s;
}

.options > button:hover{
  color: white;
  transform: scale(1.10);
}

#video{
  height: 210px;
  position: relative;
  margin: 0 auto;
  border: solid 5px var(--violeta-oscuro-borde);
  filter: blur(50px);
  pointer-events: none;
}

.lvs{
  margin: 0 auto;
  display: flex;
}

.lv{
  margin: 0 10px;
  width: 150px;
  height: 25px;
  border-radius: 20px;
  border: solid 2px var(--violeta-oscuro-borde);
  background-color: var(--violeta-oscuro);
  text-align: center;
}


/*Convertir en responsive en la parte del juego*/

@media (max-width: 768px){
  #trivia{
    max-width: 500px;
  }

  button{
  margin: 5px 10%;
  }
}

@media (max-width: 425px){
  #trivia{
    max-width: 400px;
    margin: 50px 5%;
  }

  button{
    margin: 5px 12%;
    width: 300px;
    height: 100px;
  }

  .lv{
    width: 100px;
  }
}

